# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc

# AWS Amplify credentials
aws-exports.js
aws-exports.ts

# OS specific
.DS_Store
Thumbs.db

